WebClientesPotencialesLEProp/Web References/WSInsUsuarioExterno/WSInsUsuarioExterno.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsUsuarioExt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recr_contactoid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recr_contraseniahash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recr_correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recr_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recr_sal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsUsuarioExtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsUsuarioExtResult" type="tns:Respuesta" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Respuesta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Identificador" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsUsuarioExtSoapIn">
    <wsdl:part name="parameters" element="tns:InsUsuarioExt" />
  </wsdl:message>
  <wsdl:message name="InsUsuarioExtSoapOut">
    <wsdl:part name="parameters" element="tns:InsUsuarioExtResponse" />
  </wsdl:message>
  <wsdl:portType name="WSInsUsuarioExternoSoap">
    <wsdl:operation name="InsUsuarioExt">
      <wsdl:input message="tns:InsUsuarioExtSoapIn" />
      <wsdl:output message="tns:InsUsuarioExtSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSInsUsuarioExternoSoap" type="tns:WSInsUsuarioExternoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsUsuarioExt">
      <soap:operation soapAction="http://tempuri.org/InsUsuarioExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSInsUsuarioExternoSoap12" type="tns:WSInsUsuarioExternoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsUsuarioExt">
      <soap12:operation soapAction="http://tempuri.org/InsUsuarioExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSInsUsuarioExterno">
    <wsdl:port name="WSInsUsuarioExternoSoap" binding="tns:WSInsUsuarioExternoSoap">
      <soap:address location="http://localhost/DesarrolloUDEM/WSUDEM/WSInsUsuarioExterno.asmx" />
    </wsdl:port>
    <wsdl:port name="WSInsUsuarioExternoSoap12" binding="tns:WSInsUsuarioExternoSoap12">
      <soap12:address location="http://localhost/DesarrolloUDEM/WSUDEM/WSInsUsuarioExterno.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>