WebClientesPotencialesLEProp/Web References/WS_LE_ConsTestimonios/WS_LE_ConsTestimonios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsTestimonios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="new_visibleenweb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsTestimoniosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsTestimoniosResult" type="tns:ArrayOfCsTestimonios" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCsTestimonios">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CsTestimonios" nillable="true" type="tns:CsTestimonios" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CsTestimonios">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="new_testimonioslegadoeducativoid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_nombreusuariotestimonio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="new_visibleenweb" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsTestimoniosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsTestimonios" />
  </wsdl:message>
  <wsdl:message name="ConsTestimoniosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsTestimoniosResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_LE_ConsTestimoniosSoap">
    <wsdl:operation name="ConsTestimonios">
      <wsdl:input message="tns:ConsTestimoniosSoapIn" />
      <wsdl:output message="tns:ConsTestimoniosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_LE_ConsTestimoniosSoap" type="tns:WS_LE_ConsTestimoniosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsTestimonios">
      <soap:operation soapAction="http://tempuri.org/ConsTestimonios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_LE_ConsTestimoniosSoap12" type="tns:WS_LE_ConsTestimoniosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsTestimonios">
      <soap12:operation soapAction="http://tempuri.org/ConsTestimonios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_LE_ConsTestimonios">
    <wsdl:port name="WS_LE_ConsTestimoniosSoap" binding="tns:WS_LE_ConsTestimoniosSoap">
      <soap:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsTestimonios.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_LE_ConsTestimoniosSoap12" binding="tns:WS_LE_ConsTestimoniosSoap12">
      <soap12:address location="http://eventosudemtst.udem.edu.mx:8087/UDEMDESA/LegadoEducativo/WS_LegadoEducativo/WS_LE_ConsTestimonios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>